@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Lato:wght@100;300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --ff-primary: 'Lato';
    --ff-secondary: 'Josefin Sans';

    --fw-regular: 300;
    --fw-fine:100;
    --fw-bold:700;
    --fw-medium:400;
    --fw-extrabold:900;

    --clr-light:#FAF9F9;
    --clr-dark:#001219;
    --clr-accent1:#FFD6BA;
    --clr-accent2:#E29578;
    --clr-accent3:#BEE3DB;
    --clr-accent4:#89B0AE;
    --clr-accent5:#555B6E;

}


@media(min-width:800px){
    :root{
        --fs-h1:4.5rem;
        --fs-h2:2rem;
        --fs-h3:1.5rem;
        --fs-body:1.5rem;
    }
}

body{
    background-color: var(--clr-accent4);
}

h1, h5, ul, li{
    font-family: var(--ff-primary);
}

h2, h3, p{
    font-family: var(--ff-secondary);

}
/*TitlePage*/

.header{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 20vh;
    margin-top: 5%;
   
    border-top: 2px solid var(--clr-dark);
    border-bottom: 2px solid var(--clr-dark);

}

.headerSection{
    width:33%;
    padding: 3%;
    border-right: 2px solid var(--clr-dark);
}

ul{
    text-decoration: none;
    list-style: none;
    display: flex;
}

ul, li{
    justify-content: space-evenly;
    font-size: var(--fs-h3);
}

i{
   font-size: 2em;
   margin-right: .5em;
}

.hero{
    height: 65vw;
    width: 100vw;
    display: flex;
    flex-direction: row;
    
}

.mainImagesSec{
    width:55%;
    height: 100vh;
    flex-wrap: wrap;
    padding: 5%;
    border-bottom: 2px solid var(--clr-dark);
}
.mainTitleSec{
    width: 40%;
    height: 100vh;
    margin-left: 5%;
    padding-left: 5%;
    border-left: 2px solid var(--clr-dark);
    border-bottom: 2px solid var(--clr-dark);
}

img{
    height: 10rem;
    margin: 1em;
    border: 2px solid var(--clr-dark);
}
.headerMain{
    font-weight: var(--fw-extrabold);
    font-size: 12rem;

}

/*sidebar*/

.showSidebar{
    transform: translateX(400px);
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 25%;
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    transition: all 0.3s linear;
    right: 0;
  }
  
  .sidebar *{
      margin-top: 1em;
   
  }
  
  .sidebar img{
      height: 100px;
  }
  .sidebar h1{
      font-family: var(--ff-primary);
  }
  
  .cartTitle{
      display: flex;
      margin-left: 1em;
  }
  .closeBtn{
     font-size: 2.3rem;
     padding-left: .5em;
     color: var(--clr-dark);
     margin: 0;
  }
  
  .productContainer{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      margin: 1em;
  }
  
  .productHeader{
      display: flex;
      justify-content: space-between;
      border-bottom: solid 1px var(--clr-dark);
      width: 80%;
    
  }
  
  .productHeader h5{
      padding: .5em;
  }


  .productTitle{
      width: 40%;
      flex-wrap: wrap;
  }
  
  .price{
      width: 15%;
  }

  /*Product Category*/
  .styleEditGrid{
      width: 100vw;
      height: 40vh;
      display: grid; 

  }

  .styleEditTitle{
      
  }