<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Shop E-commerce</title>
    <link rel="stylesheet" href="/style.css">
    <script src="https://kit.fontawesome.com/46ad77d0fe.js" crossorigin="anonymous"></script>
</head>

<body>

    <div class="header">
         <div class="headerSection">
            <h3 class="title">The Shop</h3>
         </div>

         <div class="headerSection">
            <ul>
                <li>Style Edit</li>
                <li>Products</li>
                <li>Our Story</li>
            </ul>
         </div>

         <div class="headerSection">
            <i class="fas fa-search"></i>
            <i class="far fa-heart"></i>
            <i class="fas fa-shopping-bag" id="cart"></i>
           
         </div>

    </div>
   
    <div class="hero">
        <div class="mainTitleSec">
            <h1 class="headerMain">Spring 2022</h1>
            <p>shop the collection</p>
            <img src="https://img.icons8.com/ios/100/000000/long-arrow-right.png"/>
        </div>
     
        <div class="mainImagesSec">
            <img src="../public/Assets/elephant-earrings.jpg" alt="">
            <img src="../public/Assets/marble-stud-earrings.jpg" alt="">
            <img src="../public/Assets/pretty-gold-necklace.jpg" alt="">
            <img src="../public/Assets/gold-arrow-bracelet.jpg" alt="">
        </div>
    </div>


      <!--SideBar Menu-->

      <aside class ="sidebar">
        <div class="cartTitle">
            <i class="fas fa-times" id="closeButton"></i>
            <h1>Items in Your Cart</h1>
        </div>
      
        <div class="productContainer">
            <div class="productHeader">
                <h5 class="productTitle">Product</h5>
                <h5 class="price">Price</h5>
                <h5 class="quantity">Quantity</h5>
                <h5 class="total">Total</h5>
            </div>
        </div>
        <section>
            <h3>Input Selections Here</h3>
            <form action="/api" method="POST">
                <input type="text" placeholder="product" name="name">
                <input type="text" placeholder="color" name="color">
                <input type="text" placeholder="type" name="type">
                <input type="text" placeholder="price" name="price">
                <button type="submit">ADD TO BAG</button>
                <button type="button" id="updatebutton">Update Cart</button>
            </form>
        </section>

        <section>
            <h2>Current Inventory</h2>
            <ul class ="jewelry">
                <% for(let i=0; i< info.length; i++)
                    {%>
                          <li class='jewelryItems'>
                              <span><%=info[i] %></span>
                          </li>
                    <%}
                %>
            </ul>
        </section>
    </aside>

    <!--Shop by Category Section -->
     <div class="productCatContainer">
        <productCat>
            <h5 class="productCatTitle" id="prodCatEarrings"></h5>
        </productCat>
        <productCat>
            <h5 class="productCatTitle" id="prodCatNecklace"></h5>
        </productCat>
        <productCat>
            <h5 class="productCatTitle" id="prodCatBracelets"></h5>
        </productCat>
        <productCat>
            <h5 class="productCatTitle" id="prodCatAnklet"></h5>
        </productCat>

     </div>
    


       <!--Style Edit -->

       <div class="styleEditGrid">
           <h1 class="styleEditTitle">Style Edit</h1>
           <img src="Assets/tanya-trukyr-MRLBl6Xetyw-unsplash.jpg" alt=" earrings, glasses and scarf" class="styleEditImg" id="Img1">
           <img src="Assets/eleni-koureas-0Hv7W_p410w-unsplash.jpg" alt="earrings on notebook" class="styleEditImg" id="Img2">
           <img src="Assets/dom-aguiar-eoR0Ou7js5E-unsplash.jpg" alt="profile of woman wearing jewelry" class="styleEditImg" id="Img3">
           <img src="Assets/pexels-dayvison-de-oliveira-silva-5696003.jpg" alt="rings" class="styleEditImg" id="Img4">
       </div>

        <!--Products -->
        <section id = "productSection">
            <div class="products">
                <h3>Bracelets</h3>
                <img src="Assets/gold-arrow-bracelet.jpg" alt="" class="productImg">
                <img src="Assets/stacked-bracelets-set.jpg" alt="" class="productImg">
                
                <button class="addToCart">Add to Cart</button>
            </div>
            <div class="products">
                <h3>Arm Bands</h3>
                <img src="Assets/gold-arrow-bracelet.jpg" alt="" class="productImg">
                
                <button class="addToCart">Add to Cart</button>
            </div>
            <div class="products">
                <h3>Earrings</h3>
                <img src="Assets/marble-stud-earrings.jpg" alt="" class="productImg">
                <img src="Assets/elephant-earrings.jpg" alt="" class="productImg">
               
                <button class="addToCart">Add to Cart</button>
            </div>
            <div class="products">
                <h3>Necklaces</h3>
                <img src="Assets/dainty-gold-necklace.jpg" alt="" class="productImg">
                <img src="Assets/pretty-gold-necklace.jpg" alt="" class="productImg">
                <img src="" alt="" class="productImg">
                <button class="addToCart">Add to Cart</button>
            </div>
    
        </section>

         <!--Footer -->

    <script src="../public/app.js"></script>
</body>
</html>